.fitness{
    width: 270px;
    height: 480px;
    background-color: #f0f8ff;
    box-shadow: -5px -5px 12px #ffffff,
                5px 5px 12px rgba(0,0,0,.16); 
    border: 1px solid gainsboro;
    border-radius: 8px;
    position: relative;
}
.fitness img{
    width: 255px;
    height: 150px;
    margin: 7px;
    border-radius: 8px;
}
.fitness-info{
    margin: 0 14px;
}
.fitness-info p{
    margin-bottom: 0;
    margin-top: 10px;
}
.fitness-name{
    font-family: 'Lota';
    font-size: 21px;
    font-style: 'normal';
    font-weight: 600;
    line-height: 25px;
    margin-top: 7px;
}
.button-cart .btn-text{
    margin-right: 5px;
    font-size: 15px;
    font-weight: 600;
}
.button-cart{
    width: 90%;
    margin: auto;
    background-color: rgb(2, 255, 2);
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-cart:hover{
    background-color: #b7e9f7;
}
.age, .time{
    font-weight: 600;
}